<header>
    <div class="header-content">
    	 <h2 class="section-heading" style="font-family:Helvetica Neue font-size:100px" > DigiSearch - a Digimon TCG 2020 search engine</h2>
        
        <div class="header-content-inner bg">
      
             <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br> 
            

<div class=overlay>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<form action="">
  <input type="search">
  <i class="fa fa-search"></i>
</form>
</div>



<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
  			<p>Coming soon!</p>
        </div>
    </div>
</header>
